doctype html
html(lang="en")
  head
    title arena
  body
    .container
      .login-wrap
        input.login-input(type="text", placeholder="input your name")
        button.btn.btn-block(type="button") Spawn
      canvas#game-container
    script(src="socket.io/socket.io.js")
    script(src="build/main.bundle.js")